.blog
    max-width: 600px
    margin: 32px auto
    line-height: 150%
    font-size: 14pt

    p
        padding-bottom: 16px

    ul
        padding-bottom: 16px

    li
        padding-bottom: 8px

    h1
        padding-bottom: 16px
        padding-top: 8px
        font-weight: 800
        font-size: 28pt

    h2
        padding-bottom: 16px
        padding-top: 8px
        font-size: 16pt

    h3
        padding-bottom: 16px
        padding-top: 8px

    a
        text-decoration: underline
